/* ChallengesPage.module.css */

.ChallengesPage {
  margin-top: 20px;
  padding: 0 15px;
}

.ButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Add gap between buttons */
  margin-bottom: 20px;
}

.FilterButton {
  background-color: #ff792e;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 15px; /* Add padding for better appearance */
  font-size: 1rem; /* Adjust font size for readability */
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
}

.FilterButton:hover {
  background-color: #ffa62e;
}

.SelectedFilterButton {
  background-color: #ffa62e;
  border: none;
  color: white;
  cursor: pointer;
}

.FilterButton:focus,
.FilterButton:active,
.SelectedFilterButton:focus,
.SelectedFilterButton:active {
  outline: none;
  box-shadow: none;
}

.CardImg {
  height: 200px;
  object-fit: cover;
}

.JoinButton {
  background-color: #ff792e;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: auto;
}

.JoinButton:hover {
  background-color: #ffa62e;
}

.JoinButton:disabled {
  background-color: #28a745;
  cursor: default;
}

.LeaveButton {
  background-color: #dc3545;
  border: none;
  color: white;
  cursor: pointer;
}

.LeaveButton:hover {
  background-color: #c82333;
}

.LeaveButton:disabled {
  background-color: #c82333;
  cursor: default;
}

.ActionIcons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.EditIcon,
.DeleteIcon {
  cursor: pointer;
  color: #ff792e;
}

.EditIcon:hover,
.DeleteIcon:hover {
  color: #ffa62e;
}

.CardImg {
  height: 200px;
  object-fit: cover;
}
