.DropdownItem {
  display: block;
  width: 100%; 
  padding: 10px 20px; 
  background-color: transparent; 
  text-align: left; 
}

.DropdownItem:hover, .DropdownItem:focus, .DropdownItem:active {
  background-color: #ee9852 !important; 
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
