/* Search bar styles */
.SearchBar {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.SearchBar input {
  border-radius: 20px;
  color: #080808;
  padding-left: 40px;
  margin-bottom: 16px;
  border: 1px solid #f1410b;
  outline: none;
  width: 100%;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
  color: #ee9852;
}

.SearchIcon:hover {
  cursor: pointer;
  color: #f1410b;
}

.SearchBar input:focus {
  border-color: #f1410b;
}

/* Table styles */
.ExcelSheet {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.ExcelRow {
  display: grid;
  grid-template-columns: 30px repeat(13, 1fr);
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.ExcelHeader {
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 0.5rem;
  text-align: center;
}

.ExcelCell {
  padding: 0.5rem;
  text-align: center;
}

.EditIcon,
.DeleteIcon {
  cursor: pointer;
  margin-right: 0.5rem;
}

.EditIcon {
  color: #0a0a0a;
}

.DeleteIcon {
  color: #0e0d0d;
}

.Content {
  text-align: center;
  padding: 2rem;
}
