.NavBar {
  background-color: #ee9852;
  border: 2px solid  #0e0d0d;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #f1410b;
}

.NavBarBrand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.BrandText {
  font-size: 2.2rem;
  margin-left: 10px;
  color: #0e0d0d;
  font-weight: bold;
}

.BrandTagline {
  font-size: 0.9rem;
  color:#0e0d0d;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
}
.navbar-nav .dropdown-menu .dropdown-item.active,
.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: #ff792e !important;
  color: #ffffff !important;
  outline: none;
  box-shadow: none;
}
