.NavBar {
    background-color: #f7f1e5;
    border: 2px solid #ffa62e;
  }

  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #ff792e;
  }

.NavBarBrand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.BrandText {
  font-size: 2.2rem; 
  margin-left: 10px; 
  color: #333;
  font-weight: bold; 
}

.BrandTagline {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold; 
}
