.ChallengesPage {
  margin-top: 20px;
}

.FilterButton {
  background-color: #ff792e;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
}

.FilterButton:hover {
  background-color: #ffa62e;
}

.SelectedFilterButton {
  background-color: #ffa62e;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
}

.FilterButton:focus, .FilterButton:active,
.SelectedFilterButton:focus, .SelectedFilterButton:active {
  outline: none;
  box-shadow: none;
  background-color: #ffa62e;
}

.JoinButton {
  background-color: #ff792e;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: auto;
}

.JoinButton:hover {
  background-color: #ffa62e;
}

.JoinButton:disabled {
  background-color: #28a745; 
  cursor: default;
}

.LeaveButton {
  background-color: #dc3545;
  border: none;
  color: white;
  cursor: pointer;
}

.LeaveButton:hover {
  background-color: #c82333;
}

.LeaveButton:disabled {
  background-color: #c82333;
  cursor: default;
}

.ActionIcons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.EditIcon, .DeleteIcon {
  cursor: pointer;
  color: #ff792e;
}

.EditIcon:hover, .DeleteIcon:hover {
  color: #ffa62e;
}

.CardImg {
  height: 200px;
  object-fit: cover;
}
