.App {
    font-family: 'Radio Canada Big', sans-serif; 
    background-color: #fac28e;
    min-height: 100vh;
    color: #272525; 
  }

  .Main {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Link styles */
  a {
    color: #0e0d0d;
    transition: color 0.4s ease-in-out; 
    text-decoration: none; 
  }
  
  a:hover {
    color: #f7f2f0;
  }
  
  /* Icon styles */
  i {
    color: #000000; 
    font-size: 1rem; 
    padding: 7px;
    vertical-align: middle;
    transition: color 0.4s ease-in-out; 
  }
  
  i:hover {
    color: #fa2d09;
    cursor: pointer; 
    transition: color ease-in-out 0.3s;
  }
  
  figure {
    text-align: center;
    display: inline-block;
  }
  
  /* scrollbar */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
 
  /* Post Create */
  
  .Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ffa62e; 
  }
  
  .FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
  }